.button {
    background-color: #5ea3ec;
    height: 40px;
    padding: 0 10px;
    border-radius: 2px;
    width: 100%;
    font-size: 1em;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 0.5px solid black;
}